/* Заголовки разного размера */
h1 {
    font-size: 2em; /* крупный */
}
h3 {
    font-size: 1.5em; /* менее крупный */
}
h6 {
    font-size: 1em; /* самый мелкий */
}

/* Стиль для списка */
ol {
    list-style-type: decimal; /* порядковые номера по умолчанию */
    padding-left: 20px;
}

/* Стиль для полужирного текста */
p b {
    font-weight: bold;
}

/* Стиль для текста, записанного курсивом */
p i {
    font-style: italic;
}